{% extends "layout.html" %}
{% block title %}
<style type="text/css">

  .row{
    font-family: 'Nunito', sans-serif;
  }
  .coll {
    padding-left:20px;
    padding-right:20px;
  }
  .companyname a{
    color:black;
    text-decoration: none;
}

.companyname a:hover{
    color:red;
    cursor: pointer;
    text-decoration: none;
}
#company_head{
  font-size: 25px;
  color: #0083c4;
  font-weight: 700;
}
</style>
<title>Reports</title>
{% endblock %}

{% block frontimg %}
<img id="fore" src="static/img/about.jpg"/>
{% endblock %}

{% block content %}
<div class="currentlocation">
<p class="pagetitle">Info / <a href="/reports" class="titlebold">Reports</a></p>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="contentbox">
            <p class="redtxt"  style="font-size:42px;font-weight:bold">REPORTS</p>
        </div>
         <div class="contentbox">
            <p class="redtxt"  style="font-size:30px;font-weight:bold">PICK A COMPANY</p>
        </div>
    </div>

</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    var colorval;
    function getColor(colorvalue)
    {
      if(colorvalue.includes("Malaria"))
      {
        colorval = "#0083CA";
      }
      else if(colorvalue.includes("TB"))
      {
        colorval = "#FFB31C";
      }
      else if(colorvalue.includes("HIV"))
      {
        colorval = "#EF3E2E";
      }
      else if(colorvalue.includes("Roundworm"))
      {
        colorval = "#003452";
      }
      else if(colorvalue.includes("Hookworm"))
      {
        colorval = "#86AAB9";
      }
      else if(colorvalue.includes("Whipworm"))
      {
        colorval = "#CAEEFD";
      }
      else if(colorvalue.includes("Schistosomiasis"))
      {
        colorval = "#546675";
      }
      else
      {
        colorval = "#5CB85C";
      }
    }
    var reportsdata = {{report2010 | safe}}
    var reportdetail = {{reportdetail2010 | safe }}
    google.charts.load('upcoming', {'packages':['geochart','corechart']});
    google.charts.setOnLoadCallback(drawMap);
    function drawMap() {
        var rownum = 1;
            console.log(reportsdata);
            console.log(reportdetail);
            console.log("--------------Click Called ---------------------");
            document.getElementById('rptDrug').innerHTML = "";
            document.getElementById('rptDisease').innerHTML = "";
            var ii = 0;
            var j;
            var count = Object.keys(reportdetail).length;
             var numberofdisease=0;
             var diseasepara = '';
             var bardata = new google.visualization.DataTable();
             bardata.addColumn('string','Disease');
             bardata.addColumn('number','Impact');
             bardata.addColumn({type: 'string', role: 'style'});
             var para2 = "of that score, ";
             for(ii = 0; ii < count; ii++)
             {
                    if(rownum == reportdetail[ii][0])
                    {
                      numberofdisease = numberofdisease + 1;
                      console.log(reportdetail);
                      console.log(reportsdata);
                      para2 = para2 +" "+reportdetail[ii][6]+"% or "+reportdetail[ii][5]+" comes from treating "+reportdetail[ii][4]+". ";
                         diseasepara = diseasepara+reportdetail[ii][2]+" receives credits for treatment against "+reportdetail[ii][4]+". The "+reportdetail[ii][4]+" drug is responsible for averting the loss of "+reportdetail[ii][8]+" of the worldwide DALYs that we estimate would have been lost due to "+reportdetail[ii][4]+" in "+reportdetail[ii][1]+" in the absense of effective treatment. ";
                      if(numberofdisease === 2)
                      {
                          var disease1para = reportdetail[ii][2]+"’s drug portfolio placed it "+reportdetail[ii-1][7]+" in terms of total averted DALYs for"+reportdetail[ii-1][4]+". "+reportdetail[ii][2]+" also receives credit for "+reportsdata[rownum-1][5]+" "+reportdetail[ii][4]+" drugs, "+reportdetail[ii][3]+" ."+reportdetail[ii][2]+"'s "+reportdetail[ii][4]+" drug portfolio helped to prevent "+reportdetail[ii][8]+" of the DALYs that we estimate would have been lost to "+reportdetail[ii][4]+" in"+reportdetail[ii][1]+". "+reportdetail[ii][2]+"'s drug portfolio placed it "+reportdetail[ii][7]+" in terms of total averted DALYs for "+reportdetail[ii][4]+". ";
                      }
                    console.log("--------------------------This is my data---------------");
                    console.log(para2);
                    console.log(diseasepara);
                    console.log(disease1para);
                    console.log("---------------------------------------------------------");
                    row = reportdetail[ii];
                    rowvalue = reportsdata[rownum-1];
                    console.log("This is the Drug : "+row[3]);
                    console.log("This is the disease : "+row[4]);
                    console.log("This is the impact score : "+row[5]);
                    getColor(row[4]);
                    document.getElementById(reportdetail[ii][0]).style.color = "#0083c4";
                    document.getElementById(reportdetail[ii][0]).style.fontWeight = "700";
                    console.log(reportdetail[ii][0]+"="+reportdetail[ii][2]+" BLUE");
                    console.log("Crucial data");
                    console.log(row[4]+" "+row[5]);
                    bardata.addRow([row[4],Number(row[5]),colorval]);
                    document.getElementById('rptDrug').innerHTML += " " + row[3];
                    document.getElementById('rptDisease').innerHTML += " " + row[4];
                    }
                    else
                    {
                      document.getElementById(reportdetail[ii][0]).style.color = "#000000";
                      document.getElementById(reportdetail[ii][0]).style.fontWeight = "400";
                      console.log(reportdetail[ii][0]+"="+reportdetail[ii][2]+" BLACK");
                    }
             }
               var baroptions =
               {
                    legend:'none',
                    top: 0,
                    width: 400,
                    animation:{
                        startup: true,
                        duration: 1000,
                        easing: 'out',
                    },
                    chartArea:
                    {
                        backgroundColor:
                        {
                        stroke: '#4c4c4c',
                        strokeWidth: 1
                        },
                    }
               };
            var barchart = new google.visualization.BarChart(document.getElementById('horbars'));
            barchart.draw(bardata,baroptions);

            var val1 = reportsdata[rownum-1][4] % 10;
            var val2 = reportsdata[rownum-1][4] % 100;
            var rank = "";
            if (val1 == 1 && val2 != 11) {
                    rank = reportsdata[rownum-1][4] + "st";
            }
            else if (val1 == 2 && val2 != 12) {
                    rank = reportsdata[rownum-1][4] + "nd";
            }
            else if (val1 == 3 && val2 != 13) {
                    rank = reportsdata[rownum-1][4] + "rd";
            }
            else{
                    rank = reportsdata[rownum-1][4] + "th";
            }



            if(numberofdisease === 1)
            {
             var content_data = reportsdata[rownum-1][2]+" is ranked "+rank+" place in our index. "+reportsdata[rownum-1][2]+"’s drugs have a total impact score of "+reportsdata[rownum-1][3]+", "+para2+" "+diseasepara+". ";
            }
            else
            {
            var content_data = reportsdata[rownum-1][2]+" is ranked "+rank+" place in our index. "+reportsdata[rownum-1][2]+"’s drugs have a total impact score of "+reportsdata[rownum-1][3]+", "+para2+" "+diseasepara+" "+disease1para;
            }
            document.getElementById('company_head').innerHTML = reportsdata[rownum-1][2];
            document.getElementById('cont').innerHTML = content_data;
            document.getElementById('rptScore').innerHTML = rowvalue[3];
            //document.getElementById('cntname').innerHTML = rowvalue[2];
            console.log("--------------Click End ---------------------");
        };
    function rptClick(rownum){
            console.log("--------------Click Called ---------------------");
            document.getElementById('rptDrug').innerHTML = "";
            document.getElementById('rptDisease').innerHTML = "";
            var ii = 0;
            var j;
            var count = Object.keys(reportdetail).length;
             var numberofdisease=0;
             var diseasepara = '';
             var bardata = new google.visualization.DataTable();
             bardata.addColumn('string','Disease');
             bardata.addColumn('number','Impact');
             bardata.addColumn({type: 'string', role: 'style'});
             var para2 = "of that score, ";
             for(ii = 0; ii < count; ii++)
             {
                    if(rownum == reportdetail[ii][0])
                    {
                      numberofdisease = numberofdisease + 1;
                      console.log(reportdetail);
                      console.log(reportsdata);
                      para2 = para2 +" "+reportdetail[ii][6]+"% or "+reportdetail[ii][5]+" comes from treating "+reportdetail[ii][4]+". ";
                         diseasepara = diseasepara+reportdetail[ii][2]+" receives credits for treatment against "+reportdetail[ii][4]+". The "+reportsdata[rownum-1][5]+" "+reportdetail[ii][4]+" drugs are responsible for averting the loss of"+reportdetail[ii][8]+"of the worldwide DALYs that we estimate would have been lost due to "+reportdetail[ii][4]+" in "+reportdetail[ii][1]+" in the absense of effective treatment. ";
                      if(numberofdisease === 2)
                      {
                          var disease1para = reportdetail[ii][2]+"’s drug portfolio placed it "+reportdetail[ii-1][7]+" in terms of total averted DALYs for"+reportdetail[ii-1][4]+". "+reportdetail[ii][2]+" also receives credit for "+reportsdata[rownum-1][5]+" "+reportdetail[ii][4]+" drugs, "+reportdetail[ii][3]+" ."+reportdetail[ii][2]+"'s "+reportdetail[ii][4]+" drug portfolio helped to prevent "+reportdetail[ii][8]+" of the DALYs that we estimate would have been lost to "+reportdetail[ii][4]+" in"+reportdetail[ii][1]+". "+reportdetail[ii][2]+"'s drug portfolio placed it "+reportdetail[ii][7]+" in terms of total averted DALYs for "+reportdetail[ii][4]+". ";
                      }
                    console.log("--------------------------This is my data---------------");
                    console.log(para2);
                    console.log(diseasepara);
                    console.log(disease1para);
                    console.log("---------------------------------------------------------");
                    row = reportdetail[ii];
                    rowvalue = reportsdata[rownum-1];
                    console.log("This is the Drug : "+row[3]);
                    console.log("This is the disease : "+row[4]);
                    console.log("This is the impact score : "+row[5]);
                    getColor(row[4]);
                    document.getElementById(reportdetail[ii][0]).style.color = "#0083c4";
                    document.getElementById(reportdetail[ii][0]).style.fontWeight = "700";
                    console.log(reportdetail[ii][0]+"="+reportdetail[ii][2]+" BLUE");
                    console.log("Crucial data");
                    console.log(row[4]+" "+row[5]);
                    bardata.addRow([row[4],Number(row[5]),colorval]);
                    document.getElementById('rptDrug').innerHTML += " " + row[3];
                    document.getElementById('rptDisease').innerHTML += " " + row[4];
                    }
                    else
                    {
                      document.getElementById(reportdetail[ii][0]).style.color = "#000000";
                      document.getElementById(reportdetail[ii][0]).style.fontWeight = "400";
                      console.log(reportdetail[ii][0]+"="+reportdetail[ii][2]+" BLACK");
                    }
             }
               var baroptions =
               {
                    legend:'none',
                    top: 0,
                    width: 400,
                    animation:{
                        startup: true,
                        duration: 1000,
                        easing: 'out',
                    },
                    chartArea:
                    {
                        backgroundColor:
                        {
                        stroke: '#4c4c4c',
                        strokeWidth: 1
                        },
                    }
               };
            var barchart = new google.visualization.BarChart(document.getElementById('horbars'));
            barchart.draw(bardata,baroptions);

            var val1 = reportsdata[rownum-1][4] % 10;
            var val2 = reportsdata[rownum-1][4] % 100;
            var rank = "";
            if (val1 == 1 && val2 != 11) {
                    rank = reportsdata[rownum-1][4] + "st";
            }
            else if (val1 == 2 && val2 != 12) {
                    rank = reportsdata[rownum-1][4] + "nd";
            }
            else if (val1 == 3 && val2 != 13) {
                    rank = reportsdata[rownum-1][4] + "rd";
            }
            else{
                    rank = reportsdata[rownum-1][4] + "th";
            }

            if(numberofdisease === 1)
            {
             var content_data = reportsdata[rownum-1][2]+" is ranked "+rank+" place in our index. "+reportsdata[rownum-1][2]+"’s drugs have a total impact score of "+reportsdata[rownum-1][3]+", "+para2+" "+diseasepara+". ";
            }
            else
            {
            var content_data = reportsdata[rownum-1][2]+" is ranked "+rank+" place in our index. "+reportsdata[rownum-1][2]+"’s drugs have a total impact score of "+reportsdata[rownum-1][3]+", "+para2+" "+diseasepara+" "+disease1para;
            }
            document.getElementById('company_head').innerHTML = reportsdata[rownum-1][2];
            document.getElementById('cont').innerHTML = content_data;
            document.getElementById('rptScore').innerHTML = rowvalue[3];
            //document.getElementById('cntname').innerHTML = rowvalue[2];
            console.log("--------------Click End ---------------------");
        };
</script>


<div class="row">
<!-- List of companies -->
  <div  class="col-sm-6">
    {% for rpt in report2010 %}
    <div class="coll companyname" style="padding-top: 1px; font-family: 'Nunito','sans-serif';" >
      <a id="{{rpt.0}}" onclick="rptClick({{rpt.0}})">
        {{ rpt[2] }}
      </a>
    </div>
    {% endfor %}
  </div>

<!--End list of company-->
<!--Company details with bar graph and paragraph-->
<!--Company details with bar graph and paragraph-->
  <div class="col-sm-6">
  <!--Company Name-->
    <div class="coll" id="company_head"> </div>
  <!--End Company Name-->
    </br>
  <!--Paragraph about company -->
    <div class="coll" id="cont" style="height:300px; overflow-y:scroll;"></div>
  <!--End Paragraph about company-->

  <!--Score details -->

  <div class="coll">
      </br>
        <div style="width:250px;">
         <div style="width:50px; float:left;"><b> Score :</b> </div>
         <div style="width:200px; float:right;" id="rptScore"></div>
        </div><br>
         <div  style="width:250px;">
         <div style="width:50px; float:left;"><b> Drug :</b> </div>
         <div style="width:200px; float:right;" id="rptDrug"></div>
        </div><br>
         <div  style="width:270px;">
         <div style="width:70px; float:left;"><b> Disease : </b> </div>
         <div style="width:200px; float:right;" id="rptDisease"></div>
        </div>
  </div>
  <!--End score details-->


    </br></br>
    <!-- Bar Graph -->
         <div class="rgtpos" id="horbars" ></div>
    <!-- End bar graph -->

  <!--End score details-->
</div>
</div>

<div class="row">
    <div class="col-sm-6">
 <div class="contentbox">
            <p class="redtxt">SCORE EXPLANATION REPORT:</p>
             <p class="txtcontent">Learn more about the companies and drugs. It also explains the score break-down for each company.</p>
             <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <a href="http://journals.plos.org/plosone/article/file?id=10.1371/journal.pone.0141374&type=printable">
                            <img src="static/img/ExtendingAccessThumb.jpg" width="100%"/>
                        </a>
                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                    </td>
                </tr>
            </table>
      <table id="reporttab">
                <tr>
                    <td id="paperthumb">
                        <a href="http://global-health-impact.org/src/Company%20Ranking%20Only%20011615.pdf">
                            <img src="static/img/ghi_ranking_explanation.jpg" width="100%"/>
                        </a>
                    </td>
                    <td>
                        <p class="abtlabel">Click on the paper to read more!</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}